.Rproj.user
.Rhistory
.RData
.Ruserdata
00 ruwe data 2018 2019/
00 ruwe data 2022 2023/
01 steekproefkader en respons/
02 lookup tabellen/
03 tussentijds/
03 R scripts/scripts 99 oud/
03 R scripts/scripts 01 weging en respons/script 00 setup.R
